# CocoaPods
Pods/

# Xcode
.DS_Store
xcuserdata/
*.xccheckout
*.xcscmblueprint
DerivedData/
*.app
*.ipa
*.dSYM.zip
*.dSYM
# SwiftLint
# .swiftlint.yml (Include or exclude based on team agreement)

# OS X specific
._*
.Spotlight-V100
.Trashes
firebase-debug.log
firestore-debug.log
